.test{
    height: 250px;
    width: 500px;
    flex: auto;
}

.list-1{
background-color: darkcyan;
width: 15%;
font-weight: bold;
text-align: center;
font-size: large;
}

.list-2{
    background-color: chartreuse;
    width: 15%;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.list-title{
    color: rgb(63, 120, 235);
    text-align: initial;
}
.list-title2{
    color: rgb(63, 120, 235);
}
.list-title3{
    color: rgb(63, 120, 235);
}